/* Global */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

section{	
	max-width: 100%;
	height: 100vh;
}

button{
	background-color: #4985FF;
	border: none;
	border-radius: 30px!important;
	width: 200px;
	height: 45px;
	opacity: 0.75;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

button:hover{
	background-color: #4985FF;
	border: none;
	border-radius: 30px!important;
	width: 200px;
	height: 45px;
	opacity: 1;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

body{
	font-family: Montserrat!important;
	font-style: normal;
}

h2{
	font-family: Montserrat!important;
	font-style: normal!important;
	font-weight: bold!important;
	font-size: 36px!important;
	line-height: 53px!important;
}

h3{
	font-family: Montserrat!important;
	font-style: normal!important;
	font-weight: 600!important;
	font-size: 18px!important;
	line-height: 22px!important;
}

a{
	text-decoration: none;
	position: relative;
}

.color-blue-ff{
	color: #4985FF;
}
.color-gray{
	color: #999999!important;
}
.color-dark{
	color:#323232!important;
}
.color-black{
	color: #000;
}
.inline-block{
	display: inline-block;
}

.container{
	color: #fff;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 1920px;   
}

.container__flex-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}


/* first screen */

.screen-one {
	background-image: url(../img/screen1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*-webkit-animation: scale 25s infinite ease-in-out;
	animation: scale 25s infinite ease-in-out;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;*/
	height: 100vh;
}
@-webkit-keyframes scale {
	0% {
		background-size: 110%;
	}
	100% {
		background-size: 160%;
	}
	0% {
		background-size: 110%;
	}
}
@keyframes scale {
	0% {
		background-size: 110%;
	}
	100% {
		background-size: 160%;
	}
	0% {
		background-size: 110%;
	}
}

.main-menu{
	margin: auto;
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;

}


.menu-nav__link{
	text-decoration: none!important;
	font-weight: 500;
	font-size: 16px;
	line-height: 60px;
	color: #fff!important;
	margin-right: 30px;
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}


.menu-nav a.top::before {
	top: 0;
}

.menu-nav a::before {
	content: '';
	bottom: 0;
	top:33px;
	right: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.menu-nav a:hover:before {
	width: 100%;
	left: 0;
}
.line-span{
	content: '';
	width: 100%;
	height: 2px;
	top:53px;
	position: absolute;
	background-color: #A1A1A1;

}



.screen-one__container>p:first-child{

	font-weight: 500;
	font-size: 20px;
	line-height: 6px;
}

.screen-one__container>p:nth-child(2),.screen-one__container>p:nth-child(3){
	font-weight: 800;
	font-size: 48px;
	line-height: 40px;
}

.srceen-one__container__button{

}

.screen-one__container__main-screen{
	text-align: center;
	margin-top: 20px;
	margin-bottom: auto;
}
.about{
	background: #0070ff96;
	border: solid 1px white;
	padding: 15px;
	border-radius: 25px;
	max-width: 600px;
	margin-top: 20px;
}
.about_logo{
	background-image: url(../img/logo.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 9px;

}
/*Second screen*/
.about__ftg{
	padding-left: 20px;
	font-weight: 900;
}
.screen-two{
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 50vh;	
}

.mobile{
	max-width: 740px;
	text-align: center;
}

.mobile>p{
	margin-top: 40px;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
}
.services{
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;	
}
.service{
	display: flex;
}

.service__image{
	align-self: start;
}
.service__container{
	max-width: 222px;
	margin-left: 17px;
	align-self: end;
}

/*Third screen*/

.third-screen{
	background-color: #F6F6F8;
}
.third-screen__container__div-right{
	background-image: url(../img/Rectangle2.png);
	background-repeat: no-repeat; 
	background-size: contain;
	width: 500px;
	height: 400px;
	

}
.third-screen__container__div-left{
	
	max-width: 500px;
	max-height: 400px;
	margin-right: 100px;
}

.third-screen__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #E0E0E0;
}
.projects{
	display: grid;
	grid-template-columns: 50px 55px;
	grid-template-rows: 50px;
	margin-right: 100px;
	margin-top: 70px;

}
.container__flex-row .projects:last-child{
	margin-right: 0;
}
.projects__div-three{
	grid-column: 1 / 3;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
}

.projects__div-one{
	align-self: center;
}
.projects__div-two{
	
	font-weight: normal;
	font-size: 36px;
	line-height: 53px;
	color:#000000;
}

/*Fourth-screen*/
.fourth-screen{
	position: relative;
}
.fourth-screen__center{
	width: 950px;
	height: 75vh;
	position: absolute;
	top: 100px;
	
}
.fourth-screen__violet{
	height: 50vh;
	background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}
.fourth-screen__white{
	height: 50vh;
}
.fourth-screen__center__wrapper{

	display: flex;
	justify-content: space-between;
	border-bottom:1px solid #E0E0E0;
	padding-bottom: 70px;

}
.wrapper-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 70px;

}
.wrapper-header>button{
	align-self: center;
}
.wrapper-header>div{
	width: 540px;
}
.wrapper-cont__img{
	width: 300px;
	height: 250px;
	background-image: url(../img/Rectangle3.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.wrapper-cont{
	width: 300px;
}
.wrapper-cont__content{
	margin-top: 30px;
}

/*Fifth-screen*/

.fifth-screen{
	background-color: #F6F6F8;
	margin-top: 140px;
}

.fifth-screen__projects{
	max-width: 740px;
	text-align: center;
	margin-top: 100px;
}

.fifth-screen__projects>p{
	margin-top: 40px;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
}
.fifth-screen__projects__wraper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}
.fifth-screen__projects-img{
	width: 255px;
	height: 255px;
	background: url(../img/PROJECTS.png);
	margin-right: 30px;
	margin-bottom: 30px;



}
.fifth-screen__projects-img:last-child{
	margin-right: 0;
}


/*Six-screen*/
.six-screen{
	background-image: url(../img/sixscreen.png);
	background-repeat: no-repeat;

}

.six-screen__wraper{
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-top: 70px;
}
.six-screen__wraper>hr{
	margin-top: 50px;
}

.six-screen__player-wraper{
	background: url(../img/video.png);
	width: 970px;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-video{
	background: none!important;
	border:1px solid white;
}

.button-video:hover{
	background: none!important;
	border:1px solid #4985FF;
}

.button-video__round{
	
}
.subscribe-wraper{
	margin-top: 40px;
}
.form-control-subscribe{
	height: 45px;
	border-bottom-left-radius: 25px!important;
	border-top-left-radius: 25px!important;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);

}
.btn-subscribe{
	border-bottom-left-radius: 0px!important;
	border-top-left-radius: 0px!important;
	box-shadow: 0px 0px 10px #6f6f6f!important;
}
.btn-subscribe:hover{
	border-bottom-left-radius: 0px!important;
	border-top-left-radius: 0px!important;
	box-shadow: 0px 0px 10px #6f6f6f!important;
}

.form-group__footer{
	padding-top: 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	margin-bottom: 85px;

}
input[placeholder]{
	padding-left: 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #999999
}
footer{
	max-width: 100vw;
	height: 100vh;
	background-color: #175ce696;
}
.footer{
	display: flex;
	flex-direction: row;
	font-size: 16px;
	line-height: 20px;
}
@media screen and (orientation: landscape) {
	section{
		height: 100%;
	}
	.screen-one{
		height: 100%;
	}
}
@media screen and (max-width: 800px){
	.services{
		display: flex;
		flex-direction: column;
	}
	.about_logo{
	width: 350px;
	height: 350px;
	}

}
@media screen and (max-width: 479px) {
  .about_logo{
	width: 200px;
	height: 200px;
	}
	.about{
		font-size: .86em;
	}
	.screen-one{
		height: 100%;
	}
}