/* Global */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

section{	
	max-width: 100vw;
}

button{
	background-color: #4985FF;
	border: none;
	border-radius: 30px!important;
	width: 200px;
	height: 45px;
	opacity: 0.75;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	transition: 500ms;
}

button:hover{
	background-color: #4985FF;
	border: none;
	border-radius: 30px!important;
	width: 200px;
	height: 45px;
	opacity: 1;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

body{
	font-family: Montserrat!important;
	font-style: normal;
}

h2{
	font-family: Montserrat!important;
	font-style: normal!important;
	font-weight: bold!important;
	font-size: 36px!important;
	line-height: 53px!important;
	}

a{
	text-decoration: none;
	position: relative;
}
.garay-text{
	
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;

}
.inline-block{
	display: inline-block;
}

.container{
	color: #fff;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 1920px;   
	   height: 91vh;

}




/* first screen */

.screen-one {
	background-image: url(../img/screen1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	
}


.main-menu{
	margin: auto;
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;

}


.menu-nav__link{
	text-decoration: none!important;
	font-weight: 500;
	font-size: 16px;
	line-height: 60px;
	color: #fff!important;
	margin-right: 30px;
	transition: 500ms;
}
 

.menu-nav a.top::before {
	top: 0;
}

.menu-nav a::before {
	content: '';
	bottom: 0;
	top:33px;
	right: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.menu-nav a:hover:before {
	width: 100%;
	left: 0;
}
.line-span{
	content: '';
	width: 100%;
	height: 2px;
	top:53px;
	position: absolute;
	background-color: #A1A1A1;

}



.screen-one__container>p:first-child{

	font-weight: 500;
	font-size: 20px;
	line-height: 6px;
}

.screen-one__container>p:nth-child(2),.screen-one__container>p:nth-child(3){
	font-weight: 800;
	font-size: 48px;
	line-height: 40px;
}

.srceen-one__container__button{

}

.screen-one__container__main-screen{
	text-align: center;
}
